.main-section {
   
    background-color: #f8f9fa !important;

}
.section-title {
  font-size: 2rem;
  font-weight: bold;
}

.product-link {
  text-decoration: none;
  color: #7b4ef3;
  transition: color 0.3s;
}

.product-link:hover {
  color: #000000;
  text-decoration: none;
}

.card-text:last-child {
  font-weight: bold;
  color: #7b4ef3;
}

.arrow-btn {
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  line-height: 1;
  border: none;
  padding: 0;
  
}

.heading-line {
  position: relative;
  display: inline-block;
  padding-top: 20px;
}

.heading-line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 3px;
  background-color: #4b4bff; /* or your brand color */
  transform: translateX(-50%);
  border-radius: 2px;
}
