.footer-main{
    margin-top: 20px;
}

.list {
    margin-top: 38px;
}

.list-unstyled input{
    size: 300;
    width: 250px;
    height: 40px;
    margin-top: 20px;
}

.list-unstyled button {
    position: relative;
    left: 185px;
    top: -40px;
    size: 300;
    color: white;
    background: #4b4bff;
    border-radius: 5px;
    border: none;
    padding: 8px 18px;
}

.list-unstyled i {
    position: relative;
    color: #4b4bff;
    font-size: 30px;
    left: -30px;
    top: 26px;
}
#details-list li {
    margin-top: -26px;
    padding-top: 1px;
}

.email-field {
    align-items: center;
    justify-content: center;
    padding: 11px;
    border-radius: 5px;
    border: 0.5px solid #333;
    margin-top: 30px;
}

.email-field:focus {
    border: 1px solid #4b4bff;
    outline: none;
    
}

.subscribe-heading {
    border-top: 30px;
}