
.option-list a {
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
    
}
.selection-container {
    font-size: 15px;
    font-weight: 1px;

}


.banner {
    padding-right: 10px;
    align-items: left;
}
.banner img {
    width: 1400px;
    height: 650px;
}
.banner-text {
    position: absolute;
    top: 300px;
    left: 700px;
    max-width: 400px;
}
.banner-text h2 {
   
    font-size: 2rem;
}
.banner-text button {
    color: white;
    background-color: rgb(28, 142, 196);
   
    border: none;
}
.shop-button {
    border-radius: 3%;
    display: block;
    justify-content: center;
    padding: 10px;
    transition: 0.3s;
}
.shop-button:hover {
    background-color: rgb(64, 137, 247);
    color: white;
    transform: translate3d(0px,6px,-1px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 30px;
}
/* ----------------------------gird options ------------------------------ */

.grid-options {
    margin-top: 20px;
    border-bottom:1px solid #ebf8f6 ;
}
.grid-options i {
   

    color: #7971ea;
}
.item1 {
    position: absolute;
    top: 825px;
    left: 160px;
   
    

}
.item .item1 .item2 {
    max-width: 340px;
    max-height: 200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}



.image-grid {
   
    padding: 80px 0;
    border: 30px;
    display: flex;
    align-items: center;
}
.image-grid Col {
    margin: 10px;
    padding: 0px 10px;
}
.image-grid img {
    max-height: 500px;
    padding: 30px;
    

}

.image-container {
  position: relative;
  overflow: hidden;
}

.img-info {
  position: absolute;
  bottom: 50px;
  left: 40px;
  color: black;
  padding: 10px 15px;
  
}

.img-info p {
  margin: 0;
  font-size: 14px;
  letter-spacing: 1px;
}

.img-info h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
.img-fluid {
    transition: 0.3s;
}
.img-fluid:hover {
    transform: scale(1.1)
    
}

